.alert {
  padding: 0.5rem;
  color: black;
  background-color: var(--red-300);
  font-size: large;
  border-radius: 0.5rem;
}

.retry {
  font-weight: 500;
}

.retry:hover {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .alert {
    color: white;
    background-color: var(--red-800);
  }
}
