.alert {
  margin: 0.333rem 0;
  padding: 0.5rem;
  color: black;
  background-color: var(--red-300);
  font-size: large;
}

.retry {
  font-weight: 500;
}

.retry:hover {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  .alert {
    color: white;
    background-color: var(--red-800);
  }
}
