.logout {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: small;
}

.logout:hover {
  background-color: var(--red-400);
}
@media (prefers-color-scheme: dark) {
  .logout:hover {
    background-color: var(--red-900);
  }
}
