.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 0.5rem;
}

.card > a {
  display: block;
}

.card > a:last-of-type {
  padding: 0.5rem;
  background-color: var(--gray-100);
  border-radius: 0 0 0.5rem 0.5rem;
  text-align: center;
}

.card > div {
  padding: 0.5rem;
}

.card > div:last-of-type {
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .card > a:last-of-type {
    background-color: var(--gray-900);
  }
}
