.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25ch, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.card > header {
  padding: 0.25rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card > div {
  flex-grow: 1;
  padding: 0.25rem;
}

.card > a {
  display: block;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.25rem;
}

.card > header,
.card > a {
  background-color: var(--gray-200);
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: var(--gray-900);
  }

  .card > header,
  .card > a {
    background-color: var(--gray-900);
  }
}
