.cookie {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--gray-200);
  text-align: center;
  align-content: center;
  font-size: 1.125rem;
}

@media (prefers-color-scheme: dark) {
  .cookie {
    color: var(--gray-300);
    background-color: var(--gray-900);
  }
}
