.navbar {
  width: 100%;
  gap: 1rem;
  font-size: 1.25rem;
  color: var(--gray-100);
  background-color: var(--green-900);
}

.navbar a {
  display: block;
  padding: 0.75rem;
  color: var(--gray-200);
}

.content {
  display: none;
  flex-wrap: wrap;
}

.content[data-expanded="true"] {
  display: flex;
}

.content a {
  transition: background-color 0.5s;
}

.content a:hover {
  background-color: var(--green-800);
}

.content a.active {
  font-weight: 700;
}

.expander {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.5rem;
}

.expander > button {
  padding: 0.25rem;
  background-color: var(--green-700);
}

@media (min-width: 768px) {
  .content {
    display: flex;
  }

  .expander {
    display: none;
  }
}
