.hero {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  border: 1px dashed gray;
  min-height: 50vh;
  min-width: 50vw;
}

.hero a {
  color: var(--blue-800);
  padding: 0.5rem 1rem;
}

.hero a:hover {
  background-color: var(--blue-800);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .hero a {
    color: var(--blue-400);
  }
}
