.wrapper {
  margin-top: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-content: center;
  align-items: baseline;
}

.wrapper a {
  display: block;
  padding: 0.25rem;
  font-size: 75%;
  color: var(--gray-900);
  border: 1px solid var(--gray-200);
}

.wrapper a:hover {
  color: white;
  background-color: var(--blue-800);
  border-color: transparent;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  .wrapper a {
    color: var(--gray-300);
    border-color: var(--gray-700);
  }
}
