.root > aside {
  float: right;
  padding: 1rem;
  min-width: 150px;
  max-width: 20vw;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lists > section > h2 {
  font-size: xx-large;
  margin-bottom: 1.5rem;
}

.lists > section > div {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 1fr;
}

.contact-list > li {
  line-height: 1.25;
  font-size: 1.125rem;
}

.contact-list > li > a {
  color: var(--blue-800);
}

.contact-list a[data-mono] {
  font-family: var(--ff-mono);
  letter-spacing: -0.03rem;
}

.contact-list > li > a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .contact-list > li > a {
    color: var(--blue-400);
  }
}
