.button {
  display: block;
  padding: 0.5rem;
  --button-color: var(--purple-700);
  border: 1px solid var(--button-color);
  border-radius: 0.25rem;
}

.button:hover {
  background-color: var(--button-color);
  color: white;
}

.pager {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
}

.button.disabled {
  color: var(--gray-600);
  border-color: var(--gray-600);
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .button {
    --button-color: var(--purple-300);
  }

  .button:hover {
    color: black;
  }
}
